<footer class="main-footer">
    <div class="footer-container">

        <div class="footer-content">
            <div class="footer-title">
                <span>UBICACION</span>
            </div>
            <div class="span-footer">
                <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, ut.Voluptate, utVoluptate, utVoluptate, ut</span>
            </div>
        </div>

        <div class="footer-content">
            <div class="footer-title">
                <span>CONTACTO</span>
            </div>
            <div class="span-footer">
                <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, ut.Voluptate, utVoluptate, utVoluptate, ut</span>
            </div>
        </div>

        <div class="footer-content">

            <div class="footer-title span-redes">
                <span>REDES</span>
            </div>
        <div class="redes-icons-container">    
            <a href="/">
                <div class="redes-icons">
                    <div class="icons">
                        <i class="fab fa-instagram"></i>
                    </div> 
                    
                    <div class="redes">
                        <span>Instagram</span>
                    </div>
                </div>
            </a>

            <a href="/">
                <div class="redes-icons">
                    <div class="icons">
                        <i class="fab fa-facebook-square"></i>
                    </div> 
                    
                    <div class="redes">
                        <span>Facebook</span>
                    </div>
                </div>
            </a>    
        </div>
        </div>
    </div> 
</footer>