<footer class="main-footer">
    <div class="footer-container">

        <div class="footer-content">
            <span>UBICACION</span>
            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, ut.</span>
        </div>

        <div class="footer-content">
            <span>CONTACTO</span>
            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, ut.</span>
        </div>

        <div class="footer-content">
            <span>REDES</span>
            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, ut.</span>
        </div>
    </div>
</footer>