<footer>

    <div class="footer-container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At magni dolor explicabo natus architecto expedita aspernatur porro repellat dignissimos nam odit in facilis eaque, dolorem, placeat et exercitationem cumque, obcaecati id veniam! Adipisci, itaque suscipit! Quasi blanditiis distinctio ducimus. Explicabo non tempora corrupti aperiam facilis, reprehenderit quae velit blanditiis rem!</p>
    </div>
</footer>