
<header class="main-header">
    <div class="container-menu">
            <div class="logo"> 
                <a href="/"></a>
                    <img src="images/logo.svg" alt="icono"> 
                </a>
            </div>

            <div id="btn-menu" class="btn-menu">
                <i class="fas fa-bars"></i>
            </div>

        </div>

        
        <div class="container-desktop">
            <div class="main-logo">

                <img src="images/logo.svg" alt="Logo Header">

            </div>

            <nav class="main-nav">
                <div class="main-menu">
                    <a href="#">INICIO</a>
                    <a href="#">INICIO</a>
                    <a href="#about-us">INICIO</a>
                    <a href="#">INICIO</a>
                    <a href="#">INICIO</a>
                </div>
            </nav>
        </div>    
</header>


<!--Menu-->
<nav id="menu" class="menu" style="top: -100vh">
    <div class="main-menu-mobile">
        <a href="/">INICIO</a>
        <a href="/">INICIO</a>
        <a href="/">INICIO</a>
        <a href="/">INICIO</a>
    </div>

    <!-- <div class="social-menu">
        <a class="btn-social-menu" href="#">
            <i class="fab fa-instagram"></i>
        </a> 

        <a class="btn-social-menu" href="#">
            <i class="fab fa-facebook"></i>
        </a> 

        <a class="btn-social-menu" href="#">
            <i class="fab fa-instagram"></i>
        </a> 

    </div> -->
</nav>


<script src="javascripts/script-menu.js"></script>