<!-- HEADER -->

<header class="main-header">

    <div class="container-menu">
            <div class="logo"> 
                <a href="/"></a>
                    <img src="images/logo.svg" alt="icono"> 
                </a>
            </div>

            <div id="btn-menu" class="btn-menu">
                <i class="fas fa-bars"></i>
            </div>
            
        </div>

        
        <div class="container-desktop">
            <div class="main-logo">

                <img src="images/logo.svg" alt="Logo Header">

            </div>

            <nav class="main-nav">
                <div class="main-menu">
                    <a href="#">INICIO</a>
                    <a href="#">INICIO</a>
                    <a href="#">INICIO</a>
                    <a href="#">INICIO</a>
                    <a href="#">INICIO</a>
                </div>
            </nav>
        </div>    
</header>