<!-- HEADER -->

<header class="main-header">

        <div class="main-logo">

            <img src="images/logo.svg" alt="Logo Header">

        </div>

        <nav class="main-nav">
            <div class="main-menu">
                <a href="#">INICIO</a>
                <a href="#">INICIO</a>
                <a href="#">INICIO</a>
                <a href="#">INICIO</a>
                <a href="#">INICIO</a>
            </div>
        </nav>
</header>