<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grafica Comini</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="shortcut icon" href="images/logo.svg" type="image/x-icon">
  </head>
  <body>
    <!-- HEADER -->
    <%- include("./partials/header") %>



    <!-- MAIN  # 1 -->
    <div id="home" class="main-banner">

      <div class="info-btn-arrow-container">
        <!-- INFO BANNER -->
        <div class="info-container">
          <span>infozodia Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, ipsam.
            infozodia Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, ipsam.
            infozodia Lorem ipsuminfozodia Lorem ipsuminfozodia Lorem ipsum
            Velit, ipsam.infozodia Lorem ipsu
          </span>
       </div>    

       <!-- BOTON -->
       <div class="btn-container">
        <a href="#contact">PEDIR PRESUPUESTO</a>
       </div>
       
       <!-- ARROW -->
       <a href="/">
         <div class="arrow-container">
           <a href="#products">
            <i class="fas fa-angle-down"></i>
           </a>
         </div>
       </a>

      </div>
    </div>

    <!-- MAIN  # 2 -->
    
    <div id="products" class="back-products">
      
      <div class="main-cards-container">
        <div  class="product-title">
          <span>PRODUCTOS</span>
        </div>
        <div class="main-card-content">

          <article class="card">
          
            
              <img src="images/product1.jpg" alt="Producto Image">

              <div class="info-product"> 
                <div class="text-product"> 
                  <span>Esta es la info del producto</span>
                </div>
              </div>
           
            
          </article>

          <article class="card">

            <img src="images/product1.jpg" alt="Producto Image">

              <div class="info-product"> 
                <div class="text-product"> 
                  <span>Esta es la info del producto</span>
                </div>
              </div>
            
            <!-- <span>peperoni</span> -->
            
          </article>
          <article class="card">
            
            <img src="images/product1.jpg" alt="Producto Image">

            <div class="info-product"> 
              <div class="text-product"> 
                <span>Esta es la info del producto</span>
              </div>
            </div>
            <!-- <span>peperoni</span> -->
            
          </article>
          <article class="card">

            <img src="images/product1.jpg" alt="Producto Image">

              <div class="info-product"> 
                <div class="text-product"> 
                  <span>Esta es la info del producto</span>
                </div>
              </div>
            
            <!-- <span>peperoni</span> -->
            
          </article>
        </div>
      </div>
    </div>
    <!-- MAIN  # 3 -->
    
    <div id="about-us" class="info-us-container">

      <div class="title-about-us">
        <span>¿Quiénes somos?</span>
      </div>
     
      <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, eius!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, eius!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, eius!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, eius!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, eius!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, eius!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, eius!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, eius!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, eius!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, eius!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, eius!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, eius!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, eius!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, eius!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, eius!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, eius!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, eius!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, eius!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, eius!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, eius!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, eius!
        
      </span>

    </div>

    <!-- MAIN  # 4 -->

    <div id="clients" class="clients-container">

      <span>CLIENTES</span>

      <div class="clients-content">
        <div class="logo-client-container">
          <img src="images/logo.svg" alt="Cliente 1">
        </div>

        <div class="logo-client-container">
          <img src="images/logo.svg" alt="Cliente 2">
        </div>

        <div class="logo-client-container">
          <!-- <span>peperoni2</span> -->
          <img src="images/logo.svg" alt="Cliente 3">
        </div>

        <div class="logo-client-container">
          <img src="images/logo.svg" alt="Cliente 4">
        </div>
      </div>

    </div>
    
    <!-- MAIN  # 5 -->
    <!-- <div class="pre-form">
      <span>asd</span>
    </div>
 -->

    <div id="contact" class="contact-container">
      
        <span>CONTACTO</span>

      <div class="contact-content">
        
        <form action="/email" method="POST">

          <label for="nombre">Nombre</label>
            <input id="nombre" type="text" name="name" placeholder="Juan" required> 
          
          <label for="email">Email</label>
            <input id="email" type="email" name="email" placeholder="juangonzalez@gmail.com" required> 
          
          <label for="phone">Teléfono</label>
            <input type="phone" name="phone" id="phone" placeholder="+54 341 660011">
          
          <label for="mensaje">Mensaje</label> 
          <textarea name="message" id="mensaje" cols="30" rows="10" required></textarea> 
          
          <button type="submit">ENVIAR</button>
          </form>

      </div>

    </div>


    <!--FOOTER -->
    <%- include("./partials/footer") %>


  </body>
</html>
