<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grafica Comini</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="shortcut icon" href="images/logo.svg" type="image/x-icon">
  </head>
  <body>
    <!-- HEADER -->
    <%- include("./partials/header") %>



    <!-- MAIN  # 1 -->
    <div class="main-banner">

      <div class="info-btn-arrow-container">
        <!-- INFO BANNER -->
        <div class="info-container">
          <span>infozodia Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, ipsam.
            infozodia Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, ipsam.
            infozodia Lorem ipsuminfozodia Lorem ipsuminfozodia Lorem ipsum
            Velit, ipsam.infozodia Lorem ipsu
          </span>
       </div>    

       <!-- BOTON -->
       <div class="btn-container">
        <a href="#">BUTTON</a>
       </div>
       
       <!-- ARROW -->
       <a href="/">
         <div class="arrow-container">
           <a href="#nosotros">
            <i class="fas fa-angle-down"></i>
           </a>
         </div>
       </a>

      </div>

    </div>

    <!-- MAIN  # 2 -->
    <div id="nosotros" class="info-us-container">

      <h2>¿Quiénes somos?</h2>

      <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, eius!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, eius!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, eius!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, eius!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, eius!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, eius!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, eius!</span>

    
    </div>


    <!-- MAIN  # 3 -->

    <div class="main-cards-container">
      <div class="main-card-content">

        <div class="first-cards">


        </div>


        <div class="second-cards">



        </div>



      </div>






    </div>








    <h1>Grafica Comini</h1>
    <p>Imprenta Gráfica Comini</p>

    <div>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi delectus corrupti similique minima magnam nulla dolore hic voluptatibus quae aliquam ea distinctio beatae, blanditiis, aliquid dolorem alias ullam quo, soluta quas? Smagnam, dolorum quam delectus reprehenderit quo a laborum quaerat sapiente deserunt commodi rerum aspernatur molestiae temporibus accusantium consectetur provident earum, voluptatio beatae, blanditiis, aliquid dolorem alias ullam quo, soluta quas? Smagnam, dolorum quam delectus reprehenderit quo a laborum quaerat sapiente deserunt commodi rerum aspernatur molestiae temporibus accusantium consectetur provident earum, voluptatio beatae, blanditiis, aliquid dolorem alias ullam quo, soluta quas? Smagnam, dolorum quam delectus reprehenderit quo a laborum quaerat sapiente deserunt commodi rerum aspernatur molestiae temporibus accusantium consectetur provident earum, voluptate aut officia, laboriosam explicabre rem quae. Vitae veritatis officia, consectetur rerum a itaque, eveniet animi est ipsam, quam magnam autem sint.</p>

    </div>


    <!--FOOTER -->
    <%- include("./partials/footer") %>


  </body>
</html>
