/* ALL */

@font-face {
  font-family: "ArmataRegular";
  src: url('../font/Armata-Regular.ttf')
}

* {
box-sizing: border-box;

/* GENERAL STYLES */

}

html { scroll-behavior: smooth }

body {
  margin: 0;
  padding: 0;
  font-family: "ArmataRegular";
}

a {
  text-decoration: none;
}

html,body{overflow-x:hidden !important}


 /* HEADER */

 .main-header {
  z-index: 999;
  position: fixed;
  width: 100vw;
  top: 0;
  padding: 0 1rem;
  background-color: #2a2a2a;
  min-height: 12vh;
}

 /* Header Mobile */
 
 .container-menu {
  display: flex;
  min-height: 50px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #2a2a2a;
  padding: .5rem 0;
  }
  
  .container-menu .btn-menu {
    width: 50%;
    text-align: right;
  }
  
  .container-menu i {
    color:black;
    font-size: 2rem;
  }
  
  .container-menu .logo {
    width: 50%;
    text-align: left;  
  }
  
  .container-menu .logo img{ 
    height: 11vh;
    width: auto;
    margin: 0 auto;
  }
  
  /* HEADER Desktop */
  
  .container-desktop{
    display: none;
    align-items: center;
    background-color:#ced4da;
    height: 12vh;
    padding: 15px 0 10px;
  }
  .main-logo{
    justify-self: flex-start;
  }
  
  .main-logo img {
    width: 80px;
    height: 80px;
    padding: 0.3rem;
  }
  
  .main-nav{
    margin: 0 auto;
    justify-self: flex-start;
    align-self: center;
    flex-wrap: wrap;
    width: 50%;
  }

  .main-menu{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

/* .main-menu a{
  margin-right: 3.5rem;
  padding: 0.4rem;
  outline: none;
  border-radius: 5%;
  background-color: #ced4da;
  color: rgb(14, 49, 49);
  font-size: 1.5rem;
}

.main-menu a:first-child{
  color: #6930c3;
}

.main-menu a:hover{
  cursor: pointer;
  color: #2ec4b6;
  
} */

/* Menu Mobile */

.menu{
  z-index: 998;
  position: fixed;
  top: 12vh;
  transition: all ease 750ms;
  width: 100vw;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.883);

}

.menu .main-menu-mobile{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5rem 1rem;
}

.menu .main-menu-mobile a{
  width: 100%;
  color: whitesmoke;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  line-height: 12vh;
  border-bottom: 0.5px #ccc solid;
  margin-top: 1rem;

}

.menu .social-menu{
  margin: 2rem 2rem 1rem 2rem;
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: center;
}

.menu .social-menu .btn-social-menu i{
  font-size: 1rem;
  color: #d5dbdb;
}


/* BODY */
/* MAIN BANNER */

  /* SECTION #1 */
.main-banner{
  padding-top: 12vh;
  margin-top: -12vh;
  background: url("/images/home1.jpg");
  
  background-size: auto ;
  /* background-color: rgb(22, 26, 26); */
}
 
.main-banner .info-btn-arrow-container {
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
  padding: 1rem .5rem 0;

}

  .main-banner .info-btn-arrow-container .info-container{
    padding-left: .5rem;
    margin-bottom: 1rem;
    height: 30%;
  }

    .main-banner .info-btn-arrow-container .info-container span{
      color: whitesmoke;
    }

  .main-banner .info-btn-arrow-container .btn-container{
    height: 20%;
    padding-top: 2rem;
    text-align: center;
  }

    .main-banner .info-btn-arrow-container .btn-container a{
      width: 50px;
      padding: .5rem 1rem;
      font-size: 1.5rem;
      border: none;
      background-color: #2a2a2a;
      color: #FFFFFF;
      border-radius: 7px;
      cursor: pointer;
    }   


  .main-banner .info-btn-arrow-container .arrow-container{
    height: 10%;
    text-align: center;
  }
    .main-banner .info-btn-arrow-container .arrow-container i{
      padding: 1rem 0;
      font-size: 2rem;
      color: whitesmoke;
    }

    .main-banner .info-btn-arrow-container .arrow-container i:hover{
      color: rgb(255, 62, 62);
      transition: color 1.5s ease;
    }

    /* SECTION #2 */

    .back-products{
      /* background-color: rgba(0, 0, 0, 0.35); */
      margin-bottom: 20vh;
      padding-top: 12vh;
      margin-top: -12vh;
    }
    
    .main-cards-container{
      
      margin: 0 auto;
      min-width: 320px;
      width: 100%;
      text-align: center;

    }
    
      .main-cards-container .main-card-content {
        /* width: 100%;
        display: flex;
        flex-wrap: 1; */
         /*  margin-top: 1.5rem; */
          display: grid;
          justify-content: center;
          grid-template-columns: repeat(1, 100%);
          grid-template-rows: repeat(4, auto);
          grid-gap: 13rem;
      }
    
        .main-cards-container .main-card-content .card {
          
           /* background-color: black;
           background: url("/images/product1.jpg");
          background-position: cover; */
          /*  overflow: hidden; */
          position: relative;
          width: 100%;
          cursor: pointer;
           /* height: 0;
           padding-top: 56.25%;  */
          
        }
    
        .main-cards-container .main-card-content .card img{
          opacity: 1;
          display: block;
          width: 100%;
          height: auto;
          transition: .3s linear;
          backface-visibility: hidden;
          position: absolute;
          top: 0;
          left: 0;
        }
    
        .main-cards-container .main-card-content .card .info-product{
          width: 100%;
          transition: 1.5s ease-in;
          opacity: 0;
          position: absolute;
          top: 2rem;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          text-align: center;
        }
    
        .main-card-content .card .arrow-container-product {
          
          width: 100%;
          height: auto;
          position: absolute;
          top: 10rem;
          opacity: 1;
          transition: 1s ease-in-out;  
        }
        
          .main-card-content .card .arrow-container-product i{
              font-size: 2.5rem;
              color: #2a2a2a;
            }
    
    
    .card .info-product .text-product {
         width: 100%;
        }
    
        .card .info-product .text-product span {
            color: black;
            font-weight: bold;
            font-size: 1rem;
            padding: .5rem;
        }
    
    
        .product-title {
          margin: 0 auto;
          max-width: 1024px;
          text-align: center;
          padding-top: 5vh;
          margin-bottom: 5vh;
        }
    
        .product-title span{
          font-size: 2rem;
          font-weight: bold;
        }
    

    /* SECTION #3 */

    .info-us-container{
      height: 100vh;
      min-width: 320px;
      padding: 1rem;
      text-align: center;
      margin-bottom: 0vh;
      /* margin-bottom: 12vh; */
      padding: 0 1rem;
      padding-top: 12vh;
      margin-top:22vh;
    }
    

    .info-us-container .title-about-us{
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;
      padding-top: 1rem;
    }
    
    .info-us-container .title-about-us span{
      font-size: 2rem;
      font-weight: bold;
      padding: .5rem;
      
    }
    
    /* SECTION #4 */

.clients-container{
  /* width: 100%;
  height: 88vh;
  margin: 0;
  text-align: center;
  padding-top: 13vh;
  margin-top: -12vh;
  margin-bottom: 80vh; */

  width: 100%;
  height: 100vh;
  margin: 0;
  text-align: center;
  padding-top: 19vh;
  margin-top: 80vh;
  margin-bottom: 66vh;


  
}

.clients-container span{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  
}

  .clients-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
  }

  .clients-content .logo-client-container{
    width: 80vw;
    height: 35vh;
  
  }

  .clients-content .logo-client-container:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .clients-content .logo-client-container:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .clients-content .logo-client-container:nth-child(3){
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .clients-content .logo-client-container:nth-child(4){
    display: flex;
    justify-content: center;
    align-items: center;
  }


    .clients-content .logo-client-container img{
      width: 75%;
      height: 75%;
      padding: 1rem;
    }



   /*  .clients-content .logo-client-container{
      width: 80vw;
      height: 35vh;
      background-color: black;
      margin: .3rem .1rem;
    } */


/* SECTION #5 */

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  width: 100%;
  height: 100vh;
  padding-top: 27vh;
  /* padding-top: 18vh; */
  text-align: center;
  padding-bottom: 10vh;

  /* background-color: lightskyblue; */
  background: url("/images/home1.jpg");
  background-size: auto;


}

  .contact-container span{
    font-size: 2rem;
    color: whitesmoke;
    font-weight: bold;
  }


  .contact-content{
    width: 100vw;
    max-width: 1024px;
    margin: 0 auto;
    margin-bottom: 2vh;
      

    
  }


  .contact-content form{
    display: flex;
    flex-direction: column;
    padding: 0 1rem 1rem;
  }

    .contact-content form label{
      color: whitesmoke;
      text-align: left;
      font-size: 1rem;
      margin: .5rem 0;
     
    }

    .contact-content form input{
      height: 5vh;
      font-size: 1rem;
      width: 80%;
      /* font-size: 1rem; */
      border: solid 1px whitesmoke;
      border-radius: 7px;
      background-color: rgba(0, 0, 0, 0.65);
      color: whitesmoke;
      font-size: 1rem;
      padding: 0 10px;
      
    }

    .contact-content form textarea{
      resize: none;
      border: solid 1px whitesmoke;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.65);
      color: whitesmoke;
      font-size: 1rem;
      padding: 0 10px;
    }

    .contact-content form button{
      width: 40%;
      height: 7vh;
      font-size: 1.5rem;
      margin-top: .5rem;
      /* margin-left: 60%; */ 
      /* width: 180px;
      height: 40px; */
      background-color: #2a2a2a;
      color: #FFFFFF;
      border: none;
      font-size: 1rem;
      border-radius: 7px;
      margin-left: auto;
      cursor: pointer;
    }





    /* FOOTER */

    .main-footer {
      display: flex;
      justify-content: center;
      background-color: rgb(14, 49, 49);
      height: 90vh;
      /* background-color:  rgba(34, 31, 31, 0.972); */
    }
    
    .footer-container{
      
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      max-width: 1024px;
      height: 88vh;
      background-color: rgb(14, 49, 49);
      margin-top: 1rem;
      /* background-color: rgba(34, 31, 31, 0.972); */

    }
    
    .footer-content{
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 70%;
      
    }
    
  
    
    .footer-content .footer-title{
      color: whitesmoke;
      margin-bottom: 1rem;
      font-size: 1.3rem;
    
    }
    
    .footer-content .redes-icons{
      display: flex;
      justify-content: center;
      align-content: center;
    }
    
    
    .footer-content .redes-icons .icons{
      margin-bottom: .5rem;
      color: whitesmoke;
    }
    
    
    .footer-content .redes-icons .icons i{
      font-size: 1.5rem;
      margin-right: .5rem;
    }
    
    .footer-content .redes-icons .redes span{
      font-size: 1rem;
      margin-top: .5rem;
      color: red;
      
    }
    
    .footer-content .redes-icons .redes span:nth-child(1){
      margin-left: .2rem;
    }
    





/* FOOTER */

/* .main-footer {
  display: flex;
  justify-content: center;
  background-color: rgb(14, 49, 49);
}

.footer-container{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-width: 320px;
  max-width: 1024px;
  height: 88vh;
  background-color: rgb(14, 49, 49);
}

.footer-content{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  padding-right: 2rem;
  padding-left: 2rem;
}

.footer-content span{
  
  color: whitesmoke;  

}

.footer-content span:nth-child(1){
  
  color: tomato;  

}

.footer-content span:nth-child(2){
  
  color: greenyellow;
  padding-top: 1rem;  

}   */













/* MEDIA QUERY 768px Tablet */
@media only screen and ( min-width: 768px ){

  .menu{
    display: none;
  }

}





/* MEDIA QUERY 1024px Desktop */
@media only screen and ( min-width: 1024px ){

  /* HEADER Desktop */

  .container-desktop{
    display: flex;
    background-color: #2a2a2a;
  }

   /* HEADER */

 .main-header {
  z-index: 999;
  position: sticky;
  width: 100vw;
  top: 0;
  padding: 0 1rem;
  background-color: #2a2a2a;
  min-height: 12vh;
}

/* HEADER Desktop */

.main-logo img {
  width: auto;
  height: 12vh;
  padding: 0.3rem;
}

.main-menu a{
  margin-right: 3.5rem;
  padding: 0.4rem;
  outline: none;
  border-radius: 5%;
  background-color: #2a2a2a;
  color: whitesmoke;
  font-size: 1.5rem;
}

.main-menu a:first-child{
  color: whitesmoke;
}

.main-menu a:hover{
  cursor: pointer;
  color: #00ADEF;
  
}

  /* HEADER Mobile */

  .container-menu{
    display: none;
    
  }


  .menu{
    display: none;
  }




  /* MAIN BANNER First Section #1 */

  .main-banner{
    background: url("/images/home1.jpg");
    background-size: auto ;
    /* background-color: rgb(22, 26, 26); */
  }

  .main-banner .info-btn-arrow-container{
    height: 88vh;
  }


.main-banner .info-btn-arrow-container .info-container{
    height: 25%;
    width: 53%;
    padding-top: 1.5rem;
    padding-left: .5rem;
    margin-left: 2rem;
    margin-bottom: 0;
  }

  .main-banner .info-btn-arrow-container .info-container span{
    text-align: left;
    color: whitesmoke;
    font-size: 1.3rem;
  }


.main-banner .info-btn-arrow-container .btn-container{
  height: 20%;
  width: 50%;
  padding-top: 0;
  text-align: right;
  margin-left: 1rem;

}


  .main-banner .info-btn-arrow-container .btn-container a{
    width: 50px;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    border: none;
    background-color: #2a2a2a;
    color: #FFFFFF;
    border-radius: 7px;
    cursor: pointer;
  }


/* MAIN Second Section #2 */


.back-products{
  background-color: rgba(0, 0, 0, 0.35);
  margin-bottom: 20vh;
  padding-top: 0;
  margin-top: 0;
}

.main-cards-container{
  
  margin: 0 auto;
  height: 100vh;
  max-width: 1024px;
  width: 75%;
  text-align: center;
  margin-bottom: -18vh;
  
}

  .main-cards-container .main-card-content {
    /* width: 100%;
    display: flex;
    flex-wrap: 1; */
    margin-top: 2rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    grid-gap: 14rem 2rem;
      

  }

    .main-cards-container .main-card-content .card {
      
       /* background-color: black;
       background: url("/images/product1.jpg");
      background-position: cover; */
      /*  overflow: hidden; */
      position: relative;
      width: 100%;
      cursor: pointer;
       /* height: 0;
       padding-top: 56.25%;  */
      
    }

    .main-cards-container .main-card-content .card img{
      opacity: 1;
      display: block;
      width: 100%;
      height: auto;
      transition: .3s linear;
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
    }

    .main-cards-container .main-card-content .card .info-product{
      width: 100%;
      transition: 1.5s ease-in;
      opacity: 0;
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
    }

    .main-card-content .card .arrow-container-product {
      z-index: 999;
      width: 100%;
      height: 50px;
      position: absolute;
      top: 15rem;
      opacity: 0;
      transition: 1s ease-in-out;
    }
    
      .main-card-content .card .arrow-container-product i{
          font-size: 2.5rem;
          color: black;
        }


.card .info-product .text-product {
     width: 100%;
    }

    .card .info-product .text-product span {
        color: black;
        font-weight: bold;
        font-size: 1rem;
        padding: .5rem;
    }



    
    .product-title {
      margin: 0 auto;
      max-width: 1024px;
      text-align: center;
      padding-top: 5vh;
    }

    .product-title span{
      font-size: 2rem;
      font-weight: bold;
    }


/* MAIN Third Section #3 */

.info-us-container{
  
  margin: 0 auto;
  max-width: 1024px;
  text-align: center;
  padding: 0 .5rem;
}

.info-us-container span{
  font-size: 1.5rem;
}

.info-us-container .title-about-us{
  text-align: center;
  margin-bottom: 2rem;
  padding-top: 1rem;
}

.info-us-container .title-about-us span{
  font-size: 2rem;
  font-weight: bold;
  padding: .5rem;
}

/* MAIN Fourth Section #4 */

.clients-container{
  width: 100%;
  height: 100vh;
  text-align: center;
  padding-top: 4rem;
  margin-top: 0vh;
  margin-bottom: 0vh;
  background-color: rgba(0, 0, 0, 0.35);

}

.clients-container span{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  padding: 1rem;
}

  .clients-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 65%;
    height: 70vh;
    padding-top: 2rem;
  }
    .clients-content .logo-client-container{
      display: flex;
      width: 45%;
      height: 30vh;
      
    }

    .clients-content .logo-client-container:nth-child(1){
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .clients-content .logo-client-container:nth-child(2){
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .clients-content .logo-client-container:nth-child(3){
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .clients-content .logo-client-container:nth-child(4){
      display: flex;
      justify-content: center;
      align-items: center;
    }


      .clients-content .logo-client-container img{
        width: 75%;
        height: 75%;
        padding: 1rem;
      }



/* MAIN Fifth Section #5 */


.pre-form{
  background-color: lightsalmon;
  width: 100%;
  height: 30vh;
}


.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding-top: 0vh;
  margin-bottom: 0vh;
  text-align: center;
  /* background-color: lightskyblue; */
  background: url("/images/back-form.jpg");
  background-size: auto;
  
}

  .contact-container span{
    font-size: 2rem;
    color: whitesmoke;
    font-weight: bold;
  }


  .contact-content{
    width: 80%;
    max-width: 1024px;
    height: 80%;
    margin: 0 auto;
    background-color: transparent;
  }


  .contact-content form{
    display: flex;
    flex-direction: column;
    padding: 0rem 1rem 2rem;
    
  }

    .contact-content form label{
      color: whitesmoke;
      text-align: left;
      font-size: 1.5rem;
    }

    .contact-content form input{
      height: 5vh;
      width: 50%;
      /* font-size: 1rem; */
      border: solid 1px whitesmoke;
      border-radius: 7px;
      background-color: rgba(0, 0, 0, 0.65);
      color: whitesmoke;
      font-size: 1.5em;
      padding: 0 15px;
    }

    .contact-content form textarea{
      resize: none;
      font-size: 1.8rem;
      border: solid 1px whitesmoke;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.65);
      color: whitesmoke;
      padding: 0 15px;
    }

    .contact-content form button{
      width: 240px;
      height: 50px;
      background-color: #2a2a2a;
      color: #FFFFFF;
      border: none;
      font-size: 1.7em;
      border-radius: 7px;
      margin-left: auto;
      cursor: pointer;
    }

/*FORM ERRORS */

span.error{
    font-size: 1rem;
    font-weight: 500;
    padding: .3rem;
    text-align: left;
    color: #c5250b;
}

.contact-content form input.error-input{
  /* border: solid 1px rgb(197, 37, 11); */
  background-color: rgba(82, 15, 5, 0.65);
}

.contact-content form textarea.error-input{
  /* border: solid 1px rgb(197, 37, 11); */
  background-color: rgba(82, 15, 5, 0.65);
}

/* FOOTER */

.main-footer {
  display: flex;
  justify-content: center;
  background-color: #2a2a2a;
  /* background-color: rgb(14, 49, 49); */
  height: 25vh;
  /* background-color:  rgba(34, 31, 31, 0.972); */
}

.footer-container{
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  height: 20vh;
  margin-top: 0;
  margin-bottom: 1.5rem;
  padding-top: 1rem;
  background-color: #2a2a2a;
  /* background-color: rgb(14, 49, 49); */
  /* background-color: rgba(34, 31, 31, 0.972); */
}

.footer-content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  width: 33%;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-top: 0.5rem;
}

.footer-content span{
    color: whitesmoke;

}

.footer-content .footer-title{
  color: whitesmoke;
  font-size: 1.5rem;
  margin-bottom: 1rem;

}

.footer-content .redes-icons{
  display: flex;
  justify-content: center;
  align-content: center;
  
}


.footer-content .redes-icons .icons{
  
  margin-bottom: .5rem;
}


.footer-content .redes-icons .icons i{
  font-size: 1.5rem;
  margin-right: .5rem;
  color: whitesmoke;
}

.footer-content .redes-icons .redes span{
  font-size: 1rem;
  margin-top: .5rem;
  color: red;
  
}

.footer-content .redes-icons .redes span:nth-child(1){
  margin-left: .2rem;
}



.span-footer,
.redes-icons-container{
  height: 4rem;

}



}




