/* ALL */

@font-face {
  font-family: "ArmataRegular";
  src: url('../font/Armata-Regular.ttf')
}

* {
box-sizing: border-box;

/* GENERAL STYLES */

}

body {
  margin: 0;
  padding: 0;
  font-family: "ArmataRegular";
}

a {
  text-decoration: none;
}


 /* HEADER */



 
 /* Header Mobile */
 
 .container-menu {
  display: flex;
  min-height: 50px;
  min-width: 320px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #ced4da;
  height: 15vh;
  padding: .5rem .5rem;
  width: 100% !important;
  position: absolute;
  z-index: 50;
  }
  
  .container-menu .btn-menu {
    width: 10%;
  }
  
  .container-menu i {
    color:black;
    font-size: 2rem;
  }
  
  .container-menu .logo {
    width: 90%;
    text-align: left;  
  }
  
  .container-menu .logo img{ 
    height: 10vh;
    margin: 0 auto;
  }
  
  /* HEADER Desktop */
  
  .container-desktop{
    display: none;
    align-items: center;
    background-color:#ced4da;
    height: 15vh;
    padding: 15px 0 10px;
  }
  .main-logo{
    justify-self: flex-start;
  }
  
  .main-logo img {
    
    width: 80px;
    height: 80px;
    padding: 0.3rem;
    margin-left: 2rem;
  }
  
  .main-nav{
    margin: 0 auto;
    justify-self: flex-start;
    align-self: center;
    flex-wrap: wrap;
    width: 50%;
    
  }

  .main-menu{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

.main-menu a{
  margin-right: 3.5rem;
  padding: 0.4rem;
  outline: none;
  border-radius: 5%;
  background-color: #ced4da;
  color: rgb(14, 49, 49);
  font-size: 1.5rem;
}

.main-menu a:first-child{
  color: #6930c3;
}

.main-menu a:hover{
  cursor: pointer;
  color: #2ec4b6;
  
}

/* Menu Mobile */

.menu{
  display: block;
  position: fixed;
  top: 12vh;
  transition: all ease 750ms;
  width: 100vw;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.692);
  z-index:30;
}

.menu .main-menu-mobile{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.menu .main-menu-mobile a{
  font-size: 2rem;
  color: black;
  margin-top: 2rem;
}

.menu .social-menu{
  margin: 2rem 2rem 1rem 2rem;
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: center;
}

.menu .social-menu .btn-social-menu i{
  font-size: 1rem;
  color: #d5dbdb;
}


/* BODY */
/* MAIN BANNER */

.main-banner{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75vh;
 /*  background: url("/images/pruebaBanner.jpg"); */
  background-color: lightskyblue;
  background-size: cover;
}

.main-banner img {
  z-index: 999;
 /*  position: absolute; */
  /* margin: 0 auto;
  left: 40vw;
  top:12rem; */
  width: 320px;
  height: 320px;
  border-radius: 50%;

}




/* FOOTER */

.main-footer {
  display: flex;
  justify-content: center;
  background-color: rgb(14, 49, 49);
  /* background-color:  rgba(34, 31, 31, 0.972); */
}

.footer-container{
  
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  height: 20vh;
  background-color: rgb(14, 49, 49);
  /* background-color: rgba(34, 31, 31, 0.972); */
}

.footer-content{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30%;
  margin-top: 2rem;
  padding-right: 3rem;
  padding-left: 3rem;

}

.footer-content span{
  
  color: whitesmoke;  

}

.footer-content span:nth-child(1){
  
  color: tomato;  

}

.footer-content span:nth-child(2){
  
  color: greenyellow;
  padding-top: 1rem;  

}













/* MEDIA QUERY 768px Tablet */
@media only screen and ( min-width: 768px ){

  .menu{
    display: none;
  }

}





/* MEDIA QUERY 1024px Desktop */
@media only screen and ( min-width: 1024px ){

  /* HEADER Desktop */

  .container-desktop{
    display: flex;
  }

  /* HEADER Mobile */

  .container-menu{
    display: none;
  }


  .menu{
    display: none;
  }


}




